<p>Hi <%= user.name %>!</p>
<p><b><%= client.name %></b> is requesting access to your account.</p>
<p>Do you approve?</p>

<form action="/dialog/authorize/decision" method="post">
  <input name="transaction_id" type="hidden" value="<%= transactionID %>">
  <div>
  <input type="submit" value="Allow" id="allow">
  <input type="submit" value="Deny" name="cancel" id="deny">
  </div>
</form>
